.aboutus-container {
  width: 100vw;
  height: 100vh; /* Full viewport height */
  background-image: url("../../../assets/login-signupbackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.aboutus-content {
  color: #fff; /* Adjust text color for visibility */
  padding: 20px;
  text-align: center;
}